<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="copyright" content="&copy;2018 暴雪娱乐有限公司版权所有 上海网之易网络科技发展有限公司" />
        <meta content="width=1200,maximum-scale=1.0" name="viewport" />
        <meta content="black" name="apple-mobile-web-app-status-bar-style" />
	    <meta name="keywords" content="炉石传说,国服,炉石传说官网,炉石，炉石传说下载,炉石传说卡组,暴雪,卡牌游戏,炉石传说扩展包,炉石手机版,炉石传说充值,魔兽英雄传,炉石传说手机版，炉石手机版，上古之神的低语,卡拉赞之夜，龙争虎斗加基森, 加基森，勇闯安戈洛，冰封王座的骑士，狗头人与地下世界，女巫森林" />
	    <meta name="description" content="《炉石传说》最新扩展包“女巫森林”现已公布。快来和吉尔尼斯的居民一起冒险吧！ " />
        <link rel="icon" href="https://hearthstone.nosdn.127.net/3/common/hs.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="https://hearthstone.nosdn.127.net/3/common/hs.ico" type="image/x-icon"/>
    <title>
        
            2018黄金超级联赛第二赛季计划公布
                --《炉石传说》官方网站_暴雪首款免费休闲卡牌网游
    </title>
    <link rel="stylesheet" href="/css/d5c9c0fc.features.min.css"/>
<link rel="stylesheet" href="https://fs.bnet.163.com/css/nav-bar.css?t=1532331901394">
<link rel="stylesheet" href="https://fs.bnet.163.com/css/module/footer.css?t=1532331901394">
    <link rel="stylesheet" href="/css/0839b021.news.css" type="text/css" media="all" />
</head>
<script>
    var rule = /(Android|iPod|iTouch|iPhone|BlackBerry|SymbianOS|SymbOS|Windows Phone OS|WAP|pod)/ig;
    if (rule.test(navigator.userAgent)) {
        location.href = location.protocol + '//' + location.host + '/touch' + location.pathname;
    };

</script>


    <body>
        <div id="wraper" data-nav="2">

            <div id="content-bot">
                        
            <!-- <video id="headerFlash" autoplay="autoplay" loop="true" preload="auto" width="1200" height="224">
    <source src="http://hearthstone.nos.netease.com/3/home/20151114/header_v2.webm" type="video/webm" />
    <source src="http://hearthstone.nos.netease.com/3/home/20151114/header_v2.mp4" type="video/mp4" />
</video> -->
<!-- <div class="video-mask"></div> -->
 <ul id="scene" class="card-features">
        <li class="layer card-1" data-depth="0.15"><img src="https://blz.nosdn.127.net/1/tm/hearthstone/activities/drboom//home_card_01.png"/></li>
        <li class="layer card-2" data-depth="0.25"><img src="https://blz.nosdn.127.net/1/tm/hearthstone/activities/drboom//home_card_02.png"/></li>
        <li class="layer card-3" data-depth="0.13"><img src="https://blz.nosdn.127.net/1/tm/hearthstone/activities/drboom//home_card_03.png"/></li>
        <li class="layer card-4" data-depth="0.30"><img src="https://blz.nosdn.127.net/1/tm/hearthstone/activities/drboom//home_card_04.png"/></li>
        <li class="layer card-5" data-depth="0.20"><img src="https://blz.nosdn.127.net/1/tm/hearthstone/activities/drboom//home_card_05.png"></li>
</ul>
<div id="header">
    <h1 class="logo"><a href="/home"></a></h1>
    <div class="c-search" id="j-search">
        <input type="text" value="" maxlength="50" placeholder="输入关键字">
        <a hidefocus="true" href="javascript:;"></a>
    </div>
    <div id="navWrap">
        <ul class="clearFix" id="nav">
            <li class="nav1">
                <a hidefocus="true" href="/home/" ></a>
            </li>
            <li class="nav2">
                <a hidefocus="true" href="/news?new" class="active"></a>
                <ul>
                    <li>
                        <a href="/news?new#news">最新</a>
                    </li>
                    <li>
                        <a href="/news?blog#news">博文</a>
                    </li>
                    <li>
                        <a href="/news?match#news">赛事</a>
                    </li>
                    <li>
                        <a href="/news?events#news">活动</a>
                    </li>
                    <li>
                        <a href="/news?media#news">媒体</a>
                    </li>
                </ul>
            </li>
            <li class="nav3">
                <a hidefocus="true" href="/gameguide/" ></a>
                <ul>
                    <li>
                        <a href="/gameguide/#version">版本</a>
                    </li>
                    <li>
                        <a href="/gameguide/#basic">基础知识</a>
                    </li>
                    <li>
                        <a href="/gameguide/#event">炉石大事件</a>
                    </li>
                </ul>
            </li>
            <li class="nav4">
                <a hidefocus="true" href="/media/" ></a>
                <ul>
                    <li>
                        <a href="/media/#video">视频</a>
                    </li>
                    <li>
                        <a href="/media/#pictures">截图</a>
                    </li>
                    <li>
                        <a href="/media/#wallpaper">壁纸</a>
                    </li>
                </ul>
            </li>
            <li class="nav5">
                <a hidefocus="true" href="/cards/" ></a>
            </li>
            <li class="nav6">
                <a hidefocus="true" href="/download/" ></a>
            </li>
            <li class="nav7">
                <a hidefocus="true" href="javascript:;" ></a>
                <ul>
                    <li>
                        <a href="/standings/">积分排名</a>
                    </li>
                </ul>
            </li>
            <li class="nav8">
                <a hidefocus="true" href="http://bbs.hs.blizzard.cn/" target="_blank" ></a>
            </li>
            <li class="sprite-left"></li>
            <li class="sprite-right"></li>
        </ul>
    </div>
</div>

                <div id="container">
                    <div class="wraperCon" id="newsDetailCon">
                        <div class="wraperConArea">
                            <div class="ui-breadcrumbs">
                                <span class="font_gray"></span>
                                <a href="/home">炉石传说</a> &gt; <a href="/news?news" target="_blank">新闻中心</a> &gt;
                                
                                        
                                                
                                                         &gt;
                                                                <a class="active" href="javascript:void(0)">
                                                                    
                                                                        2018黄金超级联赛第二赛季计划公布
                                                                            
                                                                </a>
                            </div>
                            <div class="newsWrap">
                                <div class="newsArea">
                                    <div id="newsCon">
                                        <h2 id="articleTitle">
                                            
                                                2018黄金超级联赛第二赛季计划公布
                                                    
                                        </h2>
                                        <div class="title_sub">
                                            <span class="time">发布日期：2018-07-26</span>
                                        </div>
                                        <div class="news">
                                            
                                                <p style="text-align: center;"><img alt="" class="imgborder" src="http://hearthstone.nos.netease.com/a/images/2018/7/26/9780c3556afe81b1533c8e94bffbe786.jpg" title="" /></p>

<p>2018黄金超级联赛第二赛季即将拉开序幕，选手们将于 <strong>9月1日-9月9日</strong> 期间展开精彩角逐，争夺冠军荣誉、丰厚奖金，以及至关重要的参与10月《炉石传说》世界锦标赛秋季赛的四个名额。<strong>特别</strong><strong>需要注意的是，黄金超级联赛第二赛季的四强选手还将受邀参加2018《炉石传说》中欧对抗赛。</strong></p>

<p>各大直播平台暴雪游戏频道将于9月1日-9月9日期间为大家带来精彩赛事直播，欢迎届时收看。</p>

<p style="text-align: center;"><img alt="" src="http://hearthstone.nos.netease.com/a/images/2016/6/2/golden.png" /></p>

<p><strong>参赛名额</strong></p>

<p>2018黄金超级联赛第二赛季拥有总计16个正赛名额，2018黄金超级联赛第一赛季八强选手将获得本次比赛的正赛名额，剩余的8个正赛名额则将由黄金积分15分（截至7月31日）及以上的选手通过预赛决出。</p>

<p>2018黄金超级联赛第二赛季正赛选手：</p>

<ul style="margin-left:5%;">
	<li>RNGLeaoh、小惕、卢卡尔、深海羽翼、特兰克斯、冰可乐、菜喵、风流倜傥小白露、模块术协会会长</li>
</ul>

<p>2018黄金超级联赛第二赛季预赛选手：</p>

<ul style="margin-left:5%;">
	<li>黄金积分15分（截至7月31日）及以上的选手（排除已获得正赛名额的第一赛季八强选手）</li>
</ul>

<p><strong>比赛赛制</strong></p>

<p>2018《炉石传说》黄金超级联赛第二赛季将使用标准模式下的4BAN1三职业征服赛制。</p>

<ul style="margin-left:5%;">
	<li>预赛阶段：比赛使用瑞士轮，成绩最好的8位选手将获得2018黄金超级联赛第二赛季正赛的参赛名额；</li>
	<li>小组赛阶段：16位正赛选手将分为4个小组，每个小组4人，进行小组双败淘汰赛。每个小组成绩最好的2位选手晋级8强；</li>
	<li>淘汰赛阶段：8位选手进行单败淘汰赛，直至冠军产生。</li>
</ul>

<p>选手在预选赛阶段前和小组赛阶段前分别提交一次卡组信息，除此之外不得在其他时间更换或调整卡组。预赛赛卡组提交截止日期为8月28日下午17:00。小组赛卡组提交截止日期为9月3日中午12:00。</p>

<p><strong>比赛时间</strong></p>

<ul style="margin-left:5%;">
	<li>9月1日 10:00 预赛 瑞士轮</li>
	<li>9月2-5日 休赛日</li>
	<li>9月6日 13:00 小组赛A、B组</li>
	<li>9月7日 13:00 小组赛C、D组</li>
	<li>9月8日 13:00 淘汰赛&amp;晋级赛A、B、C、D组</li>
	<li>9月9日 13:00 决赛日</li>
</ul>

<p><strong>赛事奖励</strong></p>

<p>2018黄金超级联赛第二赛季成绩最好的四位选手将代表中国地区参加10月《炉石传说》世界锦标的角逐。同时，第二赛季八强选手将能够获得2018黄金总决赛正赛的参赛名额。第二赛季四强选手可获邀参加2018《炉石传说》中欧对抗赛。</p>

<ul style="margin-left:5%;">
	<li>冠军 100,000 人民币</li>
	<li>亚军 50,000 人民币</li>
	<li>季军 30,000 人民币</li>
	<li>第四名 15,000 人民币</li>
	<li>第5-8名 10,000 人民币</li>
	<li>第9-16名 8,000 人民币</li>
</ul>

<p><strong>2018黄金超级联赛第二赛季预赛</strong></p>

<p>2018黄金超级联赛第二赛季预赛将于9月1日举行，比赛采用瑞士轮，其中成绩最好的8名选手将获得2018黄金超级联赛第二赛季正赛的参赛名额。2018黄金积分15分（截至7月31日）及以上的选手将可以获得2018黄金超级联赛第二赛季预赛的参赛名额。2018超级联赛第一赛季的9-16强也将获得第二赛季预选赛的特邀名额。</p>

<p><strong>预赛名单</strong></p>

<p>2018黄金积分15分及以上选手</p>

<table border="0" cellpadding="2" cellspacing="2" style="width: 50%; height: 2500px; text-indent: 2em;">
	<tbody>
		<tr>
			<td>名次</td>
			<td>ID</td>
			<td>积分</td>
		</tr>
		<tr>
			<td>1</td>
			<td>RNGLeaoh</td>
			<td>56</td>
		</tr>
		<tr>
			<td>2</td>
			<td>冰可乐丶小惕</td>
			<td>52</td>
		</tr>
		<tr>
			<td>3</td>
			<td>LPTrunks</td>
			<td>44</td>
		</tr>
		<tr>
			<td>4</td>
			<td>下一个一星大师</td>
			<td>42</td>
		</tr>
		<tr>
			<td>5</td>
			<td>DawnCarry</td>
			<td>39</td>
		</tr>
		<tr>
			<td>6</td>
			<td>匚匚直播丶元素</td>
			<td>37</td>
		</tr>
		<tr>
			<td>7</td>
			<td>水清浅</td>
			<td>36</td>
		</tr>
		<tr>
			<td>7</td>
			<td>DawnBleau</td>
			<td>36</td>
		</tr>
		<tr>
			<td>9</td>
			<td>随缘风</td>
			<td>35</td>
		</tr>
		<tr>
			<td>10</td>
			<td>没什么意思</td>
			<td>33</td>
		</tr>
		<tr>
			<td>10</td>
			<td>月影杀手</td>
			<td>33</td>
		</tr>
		<tr>
			<td>12</td>
			<td>小呀小格调</td>
			<td>31</td>
		</tr>
		<tr>
			<td>12</td>
			<td>LPPF</td>
			<td>31</td>
		</tr>
		<tr>
			<td>12</td>
			<td>雨丶未绵</td>
			<td>31</td>
		</tr>
		<tr>
			<td>15</td>
			<td>馒头帮丨战功</td>
			<td>30</td>
		</tr>
		<tr>
			<td>16</td>
			<td>天命</td>
			<td>29</td>
		</tr>
		<tr>
			<td>16</td>
			<td>卢卡尔</td>
			<td>29</td>
		</tr>
		<tr>
			<td>18</td>
			<td>冰可乐丶菜喵</td>
			<td>28</td>
		</tr>
		<tr>
			<td>19</td>
			<td>深海羽翼</td>
			<td>27</td>
		</tr>
		<tr>
			<td>20</td>
			<td>NewbeeXZ</td>
			<td>26</td>
		</tr>
		<tr>
			<td>20</td>
			<td>季寒</td>
			<td>26</td>
		</tr>
		<tr>
			<td>20</td>
			<td>DawnLiliang</td>
			<td>26</td>
		</tr>
		<tr>
			<td>20</td>
			<td>营地丨小孩</td>
			<td>26</td>
		</tr>
		<tr>
			<td>20</td>
			<td>Royaleeping</td>
			<td>26</td>
		</tr>
		<tr>
			<td>25</td>
			<td>馒头帮丨秋千</td>
			<td>25</td>
		</tr>
		<tr>
			<td>25</td>
			<td>RNGKylinS</td>
			<td>25</td>
		</tr>
		<tr>
			<td>27</td>
			<td>DawnCx</td>
			<td>24</td>
		</tr>
		<tr>
			<td>27</td>
			<td>嘤嘤嘤丨宇神</td>
			<td>24</td>
		</tr>
		<tr>
			<td>27</td>
			<td>OmegaZero</td>
			<td>24</td>
		</tr>
		<tr>
			<td>27</td>
			<td>悟空丶凌乱静</td>
			<td>24</td>
		</tr>
		<tr>
			<td>27</td>
			<td>悟空丶沉默</td>
			<td>24</td>
		</tr>
		<tr>
			<td>32</td>
			<td>JasonZhou</td>
			<td>23</td>
		</tr>
		<tr>
			<td>32</td>
			<td>悠悠我心</td>
			<td>23</td>
		</tr>
		<tr>
			<td>32</td>
			<td>LFDogggg</td>
			<td>23</td>
		</tr>
		<tr>
			<td>32</td>
			<td>匚匚直播丶流星</td>
			<td>23</td>
		</tr>
		<tr>
			<td>32</td>
			<td>雨夜神游</td>
			<td>23</td>
		</tr>
		<tr>
			<td>37</td>
			<td>DawnArtoria</td>
			<td>22</td>
		</tr>
		<tr>
			<td>38</td>
			<td>风华绝代丨九千羽</td>
			<td>21</td>
		</tr>
		<tr>
			<td>38</td>
			<td>DawnVegeta</td>
			<td>21</td>
		</tr>
		<tr>
			<td>38</td>
			<td>弦月不是玄月</td>
			<td>21</td>
		</tr>
		<tr>
			<td>38</td>
			<td>YouloveFan</td>
			<td>21</td>
		</tr>
		<tr>
			<td>42</td>
			<td>琛哥哥</td>
			<td>20</td>
		</tr>
		<tr>
			<td>42</td>
			<td>风华绝代丨皮小丘</td>
			<td>20</td>
		</tr>
		<tr>
			<td>42</td>
			<td>DawnLiooon</td>
			<td>20</td>
		</tr>
		<tr>
			<td>42</td>
			<td>GhostDragon</td>
			<td>20</td>
		</tr>
		<tr>
			<td>42</td>
			<td>iGTJSword</td>
			<td>20</td>
		</tr>
		<tr>
			<td>42</td>
			<td>优容爱</td>
			<td>20</td>
		</tr>
		<tr>
			<td>42</td>
			<td>小新</td>
			<td>20</td>
		</tr>
		<tr>
			<td>42</td>
			<td>摆渡丨李逍遥</td>
			<td>20</td>
		</tr>
		<tr>
			<td>50</td>
			<td>小呀小安娜</td>
			<td>19</td>
		</tr>
		<tr>
			<td>50</td>
			<td>风华绝代丨菜小川</td>
			<td>19</td>
		</tr>
		<tr>
			<td>50</td>
			<td>一粒米</td>
			<td>19</td>
		</tr>
		<tr>
			<td>50</td>
			<td>DawnPurity</td>
			<td>19</td>
		</tr>
		<tr>
			<td>54</td>
			<td>终焉丨神秘人</td>
			<td>18</td>
		</tr>
		<tr>
			<td>54</td>
			<td>终焉丨酷帅小炫风</td>
			<td>18</td>
		</tr>
		<tr>
			<td>54</td>
			<td>摆渡丨昊</td>
			<td>18</td>
		</tr>
		<tr>
			<td>54</td>
			<td>馒头帮丨正直的人</td>
			<td>18</td>
		</tr>
		<tr>
			<td>54</td>
			<td>拜托左右手</td>
			<td>18</td>
		</tr>
		<tr>
			<td>54</td>
			<td>吃鸡选手欧皇苏</td>
			<td>18</td>
		</tr>
		<tr>
			<td>54</td>
			<td>离歌</td>
			<td>18</td>
		</tr>
		<tr>
			<td>54</td>
			<td>斗鱼丶岛猫</td>
			<td>18</td>
		</tr>
		<tr>
			<td>54</td>
			<td>槙岛圣护</td>
			<td>18</td>
		</tr>
		<tr>
			<td>54</td>
			<td>hof</td>
			<td>18</td>
		</tr>
		<tr>
			<td>64</td>
			<td>终焉丨嘼人之殇</td>
			<td>17</td>
		</tr>
		<tr>
			<td>64</td>
			<td>黄鸟于飞</td>
			<td>17</td>
		</tr>
		<tr>
			<td>64</td>
			<td>悟空丿一片叶子</td>
			<td>17</td>
		</tr>
		<tr>
			<td>64</td>
			<td>悟空丶幻龙</td>
			<td>17</td>
		</tr>
		<tr>
			<td>68</td>
			<td>萃凰丨水之证</td>
			<td>16</td>
		</tr>
		<tr>
			<td>68</td>
			<td>JianMo60229</td>
			<td>16</td>
		</tr>
		<tr>
			<td>68</td>
			<td>狮子座小王爷</td>
			<td>16</td>
		</tr>
		<tr>
			<td>68</td>
			<td>petsky</td>
			<td>16</td>
		</tr>
		<tr>
			<td>72</td>
			<td>可爱小麦麦</td>
			<td>15</td>
		</tr>
		<tr>
			<td>72</td>
			<td>龙猫烹饪大师</td>
			<td>15</td>
		</tr>
		<tr>
			<td>72</td>
			<td>DemoandSeeky</td>
			<td>15</td>
		</tr>
		<tr>
			<td>72</td>
			<td>DAWNzh</td>
			<td>15</td>
		</tr>
		<tr>
			<td>72</td>
			<td>风华绝代丨雨天牛</td>
			<td>15</td>
		</tr>
		<tr>
			<td>72</td>
			<td>小浣熊</td>
			<td>15</td>
		</tr>
		<tr>
			<td>72</td>
			<td>冰可乐丶爱德蛤</td>
			<td>15</td>
		</tr>
		<tr>
			<td>72</td>
			<td>OMbreath</td>
			<td>15</td>
		</tr>
	</tbody>
</table>

<p style="padding-top:15px;">2018超级联赛第一赛季9-16强</p>

<ul style="margin-left:5%;padding-top:15px;">
	<li>JasonZhou</li>
	<li>OmegaZero</li>
	<li>平凡之路</li>
	<li>彪哥</li>
	<li>优容爱</li>
	<li>元素</li>
	<li>Breath</li>
	<li>EdwardElricX</li>
</ul>

<p style="padding-top:15px;">黄金积分计算当前月份之前的12个自然月中，选手获得的所有赛事积分。例如，2017年3月10日举行的《炉石传说》黄金&ldquo;公开赛1024&rdquo;合肥站专业组的比赛将以选手在2016年3月-2017年2月期间累计获得的赛事积分作为参赛标准。</p>

                                                    
                                        </div>
                                        <ul class="share clearFix bdsharebuttonbox" data-tag="share_1">
                                            <li class="sharetip">分享到：</li>
                                              <li><a class="bds_tsina bds_button_tsina" data-cmd="tsina" href="javascript:void(0)"></a></li>
                                              <li><a class="bds_weixin  bds_button_weixin" data-cmd="weixin" href="javascript:void(0)"></a></li>
                                              <li><a class="bds_tieba  bds_button_tieba" data-cmd="tieba" href="javascript:void(0)"></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <a id="commentsTag"></a>
                                <a id="commentsTagMy"></a>
                                
                                    <div id="commentsIframeWrap"> <img src="http://hearthstone.nos.netease.com/3/common/loading.gif" class="newsloading"
                                        /></div>
                                    
                            </div>
                        </div>
                        <input value="web" id="gArticleTerminal" type="hidden">
                        <input id="articleDescription" type="hidden" value="
                        2018黄金超级联赛第二赛季即将拉开序幕，选手们将于9月1日-9月9日期间展开精彩角逐，争夺冠军荣誉。"
                            >
                                <input id="articleId" type="hidden" value="
                                13682"
                                    >
                    </div>
                    <div class="wraperConBot"></div>
                </div>
            </div>
            <script src="/js/features.min.js"></script>
<script src="https://tjs.sjs.sinajs.cn/open/api/js/wb.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="https://fs.bnet.163.com/js/??module/base.js,module/login.js,module/navbar.js,wx_share.1.0.1.js,vendor/parallax.js,module/footer.js?t=1532331901444"></script>

            <script src="/js/3279ecb1.jquery.namespace.js"></script>
            <script src="/js/1b58ff1e.jquery.imgpreload.js"></script>
            <script src="/js/9f759b46.jquery.imageScroll.js"></script>
            <script src="/js/4798e57a.jquery.gallery.js"></script>
            <script src="/js/cc984c56.news.js"></script>
            <script src="/js/comments/623d8c1a.public.js"></script>
            
<script id="maintenance"  type="text/html">
<div id="commentsWrap">
    		<div class="new_post">
			<div class="comment">
				<p class="commentLoginBox"><a class="commentLogin comment_com_btn" href="javascript:void(0);" d><%= data.info%></a></p>
			</div>
		</div>
</div>    
</script>

<script id="showComments" type="text/html">
<div id="commentsWrap">
        <h3>评论（<%= data.comment_total%>）</h3>
        <% if(!data.userInfo.bnetId&&!data.userInfo.userId){ %>
        <div class="new_post" authmode="1">
            <div class="comment">
                <p class="commentLoginBox"><a class="commentLogin comment_com_btn" href="https://account.bnet.163.com/battlenet/login?inner_client_id=hs&amp;inner_redirect_uri=<%=data.inner_redirect_uri%>%3Fredirect_url%3D<%=data.redirect_url%>">登录后发表评论</a></p>
            </div>
        </div>
        <% }else{%>
            <% if(data.forbid){ %>
                    <div class="new_post" authmode="1">
                        <p class="forbidTalk_p">
                            您的通行证已被禁言
                            <a class="forbidTalk comment_com_btn" style="padding-left:10px" target="_blank" href="/comments/show_info/<%=data.forbid%>">查看详情</a>
                        </p>
                    </div>
            <%}else{%>
    
        <div class="new_post" authmode="1">
                <div class="comment" data-user="<%=data.userInfo.userType=='commentAdmin'?'admin':''%>">
                    <div class="portrait-b">
                        <div class="avatar-interior">
                         <%if (data.userInfo.userType == 'commentAdmin'){%>
                                <a href="javascript:void(0);"><img src="<%= data.Admin_avatar_url %>"></a>
                             <%}else{%>
                              <a href="javascript:void(0);"><img src="http://hearthstone.nos.netease.com/3/comment/avatar.jpg"></a>
                             <%}%>
                           
                        </div>
                    </div>
                    <% if(!data.userInfo.bnetId){ %>
                            <a href="javascript:void(0);" class="commentAdminLogout">退出</a>
                    <% }else{%>
                        <a href="javascript:void(0);" class="commentUserLogout">退出</a>
                    <%}%>
                    <div class="comment-interior">
                        <div class="character-info user">
                            <div class="user-name">
                                
                                <a href="javascript:void(0);" class="comment-context context-link ">
                                    <% if(!data.userInfo.bnetId){ %><span style="font-weight: normal;color: red;font-size: 12px;">网易</span><%}%>
                                    <%=data.userInfo.battleTag&&data.userInfo.battleTag.replace(/\#\d*$/,'')%>
                                </a>
                    
                              
                            </div>
                        </div>
                        <div class="content">
                            <div class="comment-ta">
                                <textarea class="commentArea" maxlength="300" cols="78" rows="3" name="comment" onfocus="textAreaFocused = true;" onblur="textAreaFocused = false;"></textarea>
                            </div>						
                            <div class="action f-cb">
                                <div class="cancel">
                                    <span class="spacer">|</span>
                                    <a href="javascript:;">取消</a>
                                </div>
                                <div class="submit">
                                    <div style="display: none;" class="submitTimer">距下次可发布主题时间：<strong></strong></div>												
                                    <p style="">
                                        <a class="button4Style saveBtn" href="javascript:void(0)">
                                            <span>提交</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <%}%>
        <%}%>
    <div class='list_wrapper'>
     <%include('list') %>
    </div>  
</div>
</script>

<script id="list" type="text/html">

    <ol class="commentMenu f-cb" id='type-list'>
        <li class="item-like <%= data.sort_type!='time'&&data.sort_type!='my'&&data.sort_type!='user'?'item-active':''%>"><a class="item item-like " href="javascript:void(0)">最佳</a></li>
        <li class="item-time <%= data.sort_type=='time'?'item-active':''%>"><a class="item  " href="javascript:void(0)">最新</a></li>

        <%if(!data.userInfo.userId){%>
        <%if(!data.userInfo.bnetId){%>
        <li  class=" <%= data.sort_type=='user'?'item-active':''%>"><a class="item " id="item-my" href="https://account.bnet.163.com/battlenet/login?inner_client_id=hs&amp;inner_redirect_uri=<%=data.inner_redirect_uri%>%3Fredirect_url%3D<%=data.redirect_url%>" data-my="<%= data.userInfo.bnetId%>">只看自己</a></li>
        <%}else{%>
         <li  class="item-my <%= data.sort_type=='my'?'item-active':''%>"><a class="item  " id="item-my" href="javascript:void(0)">只看自己</a></li>
        <%}%>
        <%}%>
    </ol>
      <% if(data.comments.length==0){ %>
        <div class="comment-none">暂无评论</div>
      <%}%>
    <% data.comments.forEach(function(comment){ %>

        <% include( 'comment',{comment:comment,data:data,redirect:{inner_redirect_uri:data.inner_redirect_uri,redirect_url:data.redirect_url}}) %>
        <%if(comment.reply_contents.length){%>
        <div class="replyComment reply_<%=comment.id%>">
              <% comment.reply_contents.forEach(function(replyComment){ %>
                    <% include('comment',{comment:replyComment,data:data}) %>
                <% }) %>
        </div>
           <% } %>
    <% }) %>

    <%if(data.totalPage>1){%>
        <%include('commentsPage') %>
    <% } %>


</script>
<script id="comment" type="text/html">
        <%var displayName = comment.display_name%>
        <div class="comment " data-commentid="<%= comment.id%>" data-replyid="<%= comment.reply_id%>" data-topickey="<%= data.topic_key%>" data-topicid="<%= comment.topic_id%>">
        <div class="comment-interior">
            <div class="character-info user">
                <%include('like') %>

                <div class="avatar portrait-b">
                    <div class="avatar-interior">

                          <%if (!comment.admin_id){%>    
                                    <img src="http://hearthstone.nos.netease.com/3/comment/avatar.jpg">
                             <%}else{%>
                             <img src="<%= data.admin_map[comment.admin_id] %>">
                             <%}%>
                    </div>
                </div>
                <div class="user-name">
                    <span class="char-name-code" style="display: none"><%= displayName%></span>
                  <div class="ui-context">
                            <div class="context">
                                        <a href="javascript:;" class="close"></a>
                                        <div class="context-user">
                                            <strong><%=displayName%></strong>
                                        </div>
                                        <div class="context-links">
                               <%if(data.userInfo.userType == 'commentAdmin'){%>
                                            <a class="" href="/comments/hs/banpage/<%=comment.user_id%>?tag=<%=displayName%>" >禁言</a>
                                  <%}%>

                                   <%if (!comment.admin_id){%>    
                                     <a class="onlyuser-link" data-uid='<%=comment.user_id%>' ><span class="iconMy"></span>只看此人</a>
                                    <%}%> 

                                           
                                        </div>
                                    </div>
                                </div>
                    <a href="javascript:;" class="context-link comment-context" rel="np"><%if (comment.admin_id){%>    <span style="font-weight: normal;color: red; margin-right: 5px; font-size: 12px;">网易</span><%}%><%=displayName%></a>
                </div>
                <span class="time">
				<a href="javascript:;">
				<%= data.formatTime(comment.create_time)%>
				</a>
			</span>
            <%if(comment.device!=null){%>
            <span class="device">&nbsp;来自&nbsp;<%=comment.device%>&nbsp;发表</span>
            <%}%>
            </div>
            <div class="content"><%=comment.content_text %></div>
            <% include('actions',{comment:comment,data:data}) %>
        </div>
    </div>

</script>

<script id="like" type="text/html">

    <span class="like like_<%=comment.id%>">
            <%if(comment.like_total!=0){%>
		<span class="iconLike">+1</span><span class="likeTotal">+<%=comment.like_total%></span>
          <%}%>
	</span>
  
</script>

<script id="actions" type="text/html">
        <div class="comment-actions">
            <%if((data.userInfo.bnetId&&data.userInfo.bnetId==comment.user_id)||data.userInfo.userType == 'commentAdmin'){%>
			<a class="button2Style delete-link removeBtn" href="javascript:;" rel="<%=comment.id%>"><span>删除</span></a>
            <%}%>
              <%if(data.userInfo.userType != 'commentAdmin'&&data.userInfo.bnetId){%>
			<a class="button2Style  <%= data.likes.indexOf(comment.id.toString())!=-1?'like-linked':'like-link'%> " href="javascript:;" data-commentid="<%= comment.id%>" data-topicid="<%= comment.topic_id%>"><span><%= data.likes.indexOf(comment.id.toString())!=-1?'已赞':'点赞'%></span></a>
            <%}%>
			
		
            <%if(!data.userInfo.bnetId&&!data.userInfo.userId){%>
            <a class="button2Style commentLogin reply-link"  href="https://account.bnet.163.com/battlenet/login?inner_client_id=hs&amp;inner_redirect_uri=<%=data.inner_redirect_uri%>%3Fredirect_url%3D<%=data.redirect_url%>"><span>请登录进行回复</span></a>
             <%}else{%>
             <a class="button2Style reply-link js-reply" href="javascript:;" data-commentid="<%= comment.reply_id||comment.id%>"><span>回复</span></a> 
             <%}%>
        </div>

</script>

<script id="commentsPage" type="text/html">
    <%var page = data.curPage,totalPage =data.totalPage,type = data.sort_type;if(page>totalPage){page = totalPage}%>
    <div id="commentPage" class="paging">
    <%if(page!=1){%>
    <a data-page="<%=page-1%>" data-type = "<%=type%>" class="prev"><span>上一页</span></a>
    <%}%>
    <a data-page="1" data-type = "<%=type%>" class="num <%=page==1?'current':''%>"><span class="<%=page==1?'selnum':''%>">1</span></a>


      <%if(totalPage<=5){%>
        <%for(var i = 2,length = totalPage;i<length;i++ ){%>
            <a data-page="<%=i%>" data-type = "<%=type%>" class="num <%=page==i?'current':''%>"><span  class="<%=page==i?'selnum':''%>"><%=i%></span></a>      
        <%} %>
        <%}else{ %>
            <%if(page<=3 ){%>
                    <%for(var i = 2;i<6;i++ ){%>
                        <a data-page="<%=i%>" data-type = "<%=type%>" class="num <%=page==i?'current':''%>"><span  class="<%=page==i?'selnum':''%>"><%=i%></span></a>      
                    <%} %>
                    <span class="ellipsis">...</span>
            <%}else if(totalPage-page<3){%>
                 <span class="ellipsis">...</span>
                <%for(var i = totalPage-4;i<=totalPage-1;i++ ){%>
                        <a data-page="<%=i%>" data-type = "<%=type%>" class="num <%=page==i?'current':''%>"><span  class="<%=page==i?'selnum':''%>"><%=i%></span></a>      
                    <%} %>
            <%}else{%>
                 <span class="ellipsis">...</span>
                 <%for(var i = page-2;i<=page-0+2;i++ ){%>
                        <a data-page="<%=i%>" data-type = "<%=type%>" class="num <%=page==i?'current':''%>"><span  class="<%=page==i?'selnum':''%>"><%=i%></span></a>      
                    <%} %>
                 <span class="ellipsis">...</span>
            <%} %>   


    <% } %>
    <a class="num <%=page==totalPage?'current':''%>" data-page="<%=totalPage%>"  data-type = "<%=type%>"><span class="<%=page==totalPage?'selnum':''%>"><%=totalPage%></span></a>
    <%if(page!=totalPage){%>
    <a data-page="<%=page-0+1%>" data-type = "<%=type%>" class="next"><span>下一页</span></a>
    <%}%>
    <span class="page-prompt">共<%=totalPage%>页 到第</span><input onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" class="page-input" maxlength="5"><span class="page-prompt">页</span>
    <a  class="submit jumpPage"  data-type = "<%=type%>"><span>确定</span></a>
</div>
</script>
<link rel="stylesheet" href="/css/comments/f09f5353.comment.css" type="text/css" media="all" />
<script type="text/javascript" src="/js/comments/6ca7f6be.new_comment.js"></script>
<script src="/js/comments/ed1929b7.template-native.js"></script>
<script>
    if($('#commentsIframeWrap').length!=0){
          new Comments({product:'hs',wrapDiv:$('#commentsIframeWrap')[0]})
    }
  
</script>
            <script>
                $(document).ready(function () {
                    News.init();
                    Common.init();
                    Common.setShare();
                    Common.setWxShare();
                    Common.scrollInit();
                    Common.setMobilePop();
                    $("#sidebar").fixed({
                        "marginTop": 20
                    });
                    $.sc2.scrollTo({
                        trigger: "#gotop"
                    });
                });
            </script>
            <script language="JavaScript">
                function rand(num) {
                    return Math.floor(Math.random() * num) + 1;
                }
                document.write("<iframe style=\"display:none\" src=\"https://gad.netease.com/gad/point?point_id=1363&s=hngN%2BAk9qyCJ1DjDf7Q7bqU554g%3D&cache=" + rand(9999999) + "\" width=\"0\" height=\"0\"><\/iframe>");
            </script>
            		<!-- START NetEase Devilfish 2006 -->
			<script src="https://analytics.163.com/ntes.js" type="text/javascript"></script>
			<script type="text/javascript">
			_ntes_nacc = "hs9";
			neteaseTracker();
			neteaseClickStat();
			</script>

		<!-- END NetEase Devilfish 2006 -->


    </body>

</html>